body{
  font-style: 'Montserrat', sans-serif;
}

h1{
  font: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}

#title{
  background-color: #ff4c68;
  color: white;
}

@media (max-width: 1028px){
  .row{
    text-align: center;
  }
}

.container-fluid{
  padding: 3% 15%;
}

.homepage-heading{
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  size: 3.5rem;
  line-height: 1.5;
}


/* Navigation bar */

.navbar{
  padding: 0 0 7rem 0;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 3rem;
  /* font-weight: bold; */
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 20px;
  font-family: 'Montserrat'
}

.row{
  margin-bottom: 200px;
}

.download-button{
  margin: 10% 2% 10% 2%;
}


.title-image{
  top: 0;
  right: 30%;
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
}

@media (max-width: 1028px) {
  .title-image{
    position: static;
    transform: rotate(0);
  }
}


/* Features */

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.col-lg-4{
  text-align: center;
}

.check{
  padding-bottom: 1rem;
  color: #ef8172;
  font-size: 3rem;
}

.check:hover{
  color: #ff4c68;
}

.feature-title{
  font-size: 1.5rem;
}

.feature-subtitle{
  color: #8f8f8f;
  padding: 0 23%;
}

/* Testimonial section */

#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image{
  width: 15%;
  border-radius: 100%;
  margin: 10px;
}

.carousel-item{
  padding: 10% 15%;
}

/* Press */

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-images{
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
  padding: 7% 10% 2%;
}

.pricing-cards{
  padding-top: 3%;
}

/* Footer */
#cta{
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
  color: white;
}

#footer-title{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.cta-row{
  margin: 50px 0 20px;
}

.download-btn1{
     margin-top: 20px;
    text-align: end;
}

.download-btn2{
     margin-top: 20px;
    text-align: start;
}

@media (max-width: 576px){
    .download-btn2, .download-btn1{
        text-align: center;
    }
}

#footer{
  background-color: #ff4c68;
  padding: 0 20% 2%;
  text-align: center;
  color: white;
}
